header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
    transition: box-shadow 0.3s ease;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: var(--color-primary-6);
    font-weight: 700;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: var(--color-neutral-1);
    font-weight: 600;
    opacity: 0.7;
    /* Adicionamos uma borda transparente e transição para o efeito suave */
    border-bottom: 3px solid transparent; 
    transition: opacity 0.3s, border-bottom 0.3s ease; 
}

.nav-item a:hover {
    opacity: 1;
    /* Efeito de sublinhado ao passar o mouse */
    border-bottom: 3px solid var(--color-primary-4); 
}

.nav-item.active a {
    color: var(--color-neutral-1);
    opacity: 1;
    /* Efeito de sublinhado quando a seção está ativa */
    border-bottom: 3px solid var(--color-primary-4); 
}

#mobile_btn {
    display: none;
    color: var(--color-neutral-1);
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-primary-2);
        padding: 20px 0;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }

    #mobile_nav_list .nav-item a {
        color: var(--color-neutral-1);
    }
};