@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');

:root {
    /* Paleta Framboesa/Mirtilo/Velvet */
    --color-primary-1: #fafafa; /* Fundo Principal (Branco Suave) */
    --color-primary-2: #f8f0f3; /* Destaque Suave (Rosa Muito Claro) */
    --color-primary-3: #e1b0be; /* Cor de Destaque Médio (Rosa Pastel) */
    --color-primary-4: #b93b57; /* Destaque Intenso (Vermelho Framboesa) - Borda Ativa */
    --color-primary-5: #c75170; /* Botões (Rosa Framboesa Médio) */
    --color-primary-6: #6a5acd; /* Títulos e Ícones (Roxo Ametista/Mirtilo) */
    --color-neutral-0: #fff;
    --color-neutral-1: #333; /* Texto Principal (Cinza escuro) */
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary-1);
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    color: var(--color-neutral-0);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease, transform .2s;
}

.btn-default:hover {
    background-color: var(--color-primary-3);
    transform: translateY(-2px);
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-primary-6);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease, transform .3s, background-color .3s;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color-primary-2);
    transform: translateY(-3px);
}

.section-title {
    color: var(--color-primary-6);
    font-size: 1.563rem;
    font-weight: 700;
}

.section-subtitle {
    font-size: 2.1875rem;
    color: var(--color-neutral-1);
    font-weight: 800;
};