#testimonials {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding-bottom: 50px;
}

#testimonial_chef {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

#testimonials .section-subtitle {
    font-size: 3rem;
}

#testimonials_content {
    width: 50%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-neutral-0);
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s;
}

.feedback:hover {
    transform: translateX(5px);
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.12);
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    min-width: 100px;
}

.feedback-content {
    flex-grow: 1;
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: var(--color-neutral-1);
    margin-bottom: 5px;
}

.feedback-content p span {
    color: var(--color-primary-6);
    font-weight: 400;
}

.feedback-content p:last-child {
    font-weight: 400;
    font-style: italic;
    color: var(--color-neutral-1);
    opacity: 0.8;
}

@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonials .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #testimonial_chef {
        display: none;
    }

    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #testimonials .section-subtitle {
        font-size: 2rem;
    }

    #testimonials_content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .feedback-content p {
        flex-direction: column;
        gap: 5px;
    }
};